h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".2s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('text', 'Introducci칩n', 'main.html#page/introduccion/')
                    +navTemaItem('1', 'Programaci칩n orientada a objetos', 'main.html#page/programacion/')
                    +navTemaItem('2', 'Identificaci칩n de requerimientos', 'main.html#page/identificacion/')
                    +navTemaItem('question', 'Actividad did치ctica', 'main.html#page/actividad-1/')