.curso-portada

    .row.align-items-center.p-3

        .col-12.col-lg-6

            h3.curso-subtitulo Módulos, estructura de almacenamiento y POO utilizando el lenguaje de programación C++ (Nivel II)
            h1.curso-titulo Aspectos y características de los Sistemas de Información

            .brand-line-primary

            a.curso-btn-iniciar.btn.btn-light(href="main.html")
                span Iniciar Curso

        .col-12.col-lg-6
            .d-none.d-lg-block
                img(src="assets/images/header/header_media.svg")