.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Abstracción:
            | proceso realizado con el fin de identificar lo esencial para que una clase sea funcional.
        
        p
            strong.mr-2 Asociación:
            | línea de comunicación entre dos casos de uso.
        p 
            strong.mr-2 Atributo:
            | cada una de las características de un objeto.
        p 
            strong.mr-2 Clase:
            | plantilla donde se definen métodos y atributos.
        p
            strong.mr-2 Extensión:
            | relación entre casos de uso que genera la ejecución de uno cuando en el otro se cumple cierta concisión.
        
        p
            strong.mr-2 Herencia:
            | característica de la programación orientada a objetos que permite crear una clase a partir de otra.
        p 
            strong.mr-2 Inclusión:
            | relación entre casos de uno que implica la realización de uno para que pueda ejecutarse el otro.
        p 
            strong.mr-2 Método:
            | cada una de las funcionalidades o acciones que puede llevar a cabo un objeto.
        p
            strong.mr-2 Objeto:
            | elemento creado a partir de una clase.
        
        p
            strong.mr-2 Paradigma:
            | forma utilizada para ejecutar el proceso de programación de una aplicación.
        p 
            strong.mr-2 UML:
            | sigla en inglés de 
            i Unified Modeling Language
            | o Lenguaje Unificado de Modelado, en español.                    
