

.container#introduccion

    .header-ecored

        h1 Introducción

    .row.mx-0
        
        .card

            img.img-fluid(src="assets/images/pages/img1.png")

            .card-body

                .card-text

                    .row.mx-0

                        .col-12

                            p El lenguaje de programación C++ es en realidad una mejora que se efectuó al lenguaje denominado C; como es de conocimiento común en programación, el operador “+” escrito dos veces “++” corresponde a un operador de incremento, lo cual permite inferir que el lenguaje procede de un “incremento” realizado al C, que fue mejorado y adaptado para trabajar bajo el paradigma orientado a objetos, entre otras mejoras efectuadas.

                            br

                            p En este material de formación se abordan en términos generales los conceptos de la programación orientada a objetos, éste es un paradigma aplicable a varios lenguajes; es decir, los conceptos aquí tratados no corresponden de forma específica al lenguaje C++, sino que son de aplicabilidad compartida con cualquier lenguaje que funcione bajo este mismo paradigma.

                            br

                            p Adicionalmente, en el material de formación de esta primera actividad de aprendizaje, se abordarán de manera general las temáticas relacionadas con el proceso de identificación de los requerimientos de una aplicación de software, los pasos básicos que permiten la identificación de éstos y el proceso mínimo requerido que le facilita a un programador empezar con el desarrollo de una solución informática.