include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Guerra, C.  (Sin fecha).  Obtención de requerimientos. Técnicas y estrategia. Recuperado de:", "https://sg.com.mx/revista/17/obtencion-requerimientos-tecnicas-y-estrategia")

        +referenciaItem("Joyanes, L. Sánchez, L. (2006). Programación en C++ un enfoque práctico. España: Mc Graw Hill.", "")

        +referenciaItem("Metodología Gestión de Requerimientos.  (Sin fecha). Técnicas para identificar requisitos funcionales y no funcionales. Recuperado de:", "https://sites.google.com/site/metodologiareq/capitulo-ii/tecnicas-para-identificar-requisitos-funcionales-y-no-funcionales")